@page "{id:Guid}"
@model Foundant.ImageStore.Web.Pages.Album.IndexModel
@{
    ViewData["Title"] = "Image Management";
}

<div style="display: flex; flex-direction: row; margin-left: auto; margin-right: auto; margin-top: 2rem;">
    <div style="display: flex; width: 50%; justify-content: center">
        <form method="post" enctype="multipart/form-data">
            <div style="display: flex; flex-direction: column">
                <input asp-for="Data.AlbumId" type="hidden" />
                <div class="formGroup">
                    <div style="width: 20%">
                        <label asp-for="Data.ImageName" class="formGroupLabel">Image Name:</label>
                    </div>
                    <div style="width: 80%">
                        <input asp-for="Data.ImageName" type="text" placeholder="Enter an Image Name" class="formGroupField" />
                    </div>
                </div>
                <div class="formGroup">
                    <div style="width: 20%">
                        <label asp-for="Data.File" class="formGroupLabel">Image:</label>
                    </div>
                    <div style="width: 80%">
                        <input asp-for="Data.File" type="file" placeholder="Upload an Image" class="formGroupField" />
                    </div>
                </div>
                <div class="formGroup">
                    <div style="width: 20%"></div>
                    <div style="width: 80%">
                        <button type="submit" class="formButton">Update</button>
                    </div>
                    </div>
                </div>
        </form>
    </div>
    <div style="display: flex; flex-direction: column; width: 50%; justify-content: center">
        <div>
            <form method="post" asp-page-handler="SearchByTag" style="width: 100%;">
                <input asp-for="AlbumId" type="hidden" />
                <div style="display: flex; align-items: center; border-bottom: 1px solid #808080; padding-top: .5rem; padding-bottom: .5rem;">
                    <select asp-for="TagToSearch" asp-items="@(new SelectList(Model.Tags))" class="formSelect">
                        <option value="">Pick one</option>
                    </select>
                    <button type="submit" class="formButton">Search by Tag</button>
                </div>
            </form>
        </div>
        <div style="display: flex; flex-direction: row">
            @if (Model.AlbumDetails.Images != null)
            {
                foreach (var image in Model.AlbumDetails.Images.OrderBy(c => c.Created))
                {
                    <div style="display: flex; flex-direction: column; align-items: center">
                        <a asp-page="/Image/Index" asp-route-albumId="@Model.AlbumDetails.Id" asp-route-imageId="@image.Id">
                            <img src="~/albums/@Model.AlbumDetails.Id/@image.Id@image.Extension" alt="@image.Name" />
                        </a>
                        <span>@image.Name</span>
                        <a asp-page="/Album/Index" asp-page-handler="DeleteImage" asp-route-albumId="@Model.AlbumDetails.Id" asp-route-imageId="@image.Id">Delete</a>
                    </div>
                }
            }
        </div>
    </div>
</div>
