@page "{id:Guid}"
@model Foundant.ImageStore.Web.Pages.Album.IndexModel
@{
    ViewData["Title"] = "Image Management";
}

<div style="display: flex; flex-direction: row; margin-left: auto; margin-right: auto">
    <div style="display: flex; width: 50%; justify-content: center">
        <form method="post" enctype="multipart/form-data">
            <div style="display: flex; flex-direction: column">
                <input asp-for="Data.AlbumId" type="hidden" />
                <div style="display: flex; flex-direction: column">
                    <div>
                        <label asp-for="Data.ImageName">Image Name:</label>
                    </div>
                    <div>
                        <input asp-for="Data.ImageName" type="text" placeholder="Enter an Image Name" />
                    </div>
                </div>
                <div style="display: flex; flex-direction: column">
                    <div>
                        <label asp-for="Data.File">Image:</label>
                    </div>
                    <div>
                        <input asp-for="Data.File" type="file" placeholder="Upload an Image" />
                    </div>
                </div>
                <div>
                    <button type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>
    <div style="display: flex; width: 50%; justify-content: center">
        <ul>
            @if (Model.AlbumDetails.Images != null)
            {
                foreach (var image in Model.AlbumDetails.Images.OrderBy(c => c.Created))
                {
                    <li>
                        <a asp-page="/Album/Image/Index" asp-route-albumId="@Model.AlbumDetails.Id" asp-route-imageId="@image.Id">
                            <img src="~/albums/@Model.AlbumDetails.Id/@image.Id@image.Extension" alt="@image.Name" />
                        </a>
                        <span>@image.Name</span>
                        <a asp-page="/Album/Index" asp-page-handler="DeleteImage" asp-route-albumId="@Model.AlbumDetails.Id" asp-route-imageId="@image.Id">Delete</a>
                    </li>
                }
            }
        </ul>
    </div>
</div>
